<!DOCTYPE html>
<% if (htmlAttributes === '') { %>
  <html lang="es" dir="ltr">
  <% } else { %>
  <html lang="es" dir="ltr" <%= htmlAttributes %>>
<% } %>
  <head>
    <%- title %>
    <%- meta %>
    <%- link %>
    <%- styles %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- bodyAttributes %>
    <%- stateJson %>
    <div id="root">
      <%- appString %>
    </div>
    <%- cssHash %>
    <%- js %>
  </body>
</html>
